services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: subscription_store
    ports:
      - "5432:5432"
    volumes:
      - subscription-store-db:/var/lib/postgresql/data

volumes:
  subscription-store-db:
